/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.cards{
    margin-bottom: 20px;
    padding: 8px 16px 8px 8px;
    // height: 264px;
    // width: 900px;
}
.cardsImg{
    position: absolute;
    height: 248px;
    width: 320px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 1px;
    background-size: cover;
    background-position: 50%;
}
.cardsTitle{
    font-weight: bold;
}
.cardsDescription{
    font-size: 16px;
    line-height: 22px;
}
.cardButtons{
    padding: 16px;
}